h1 {
  background-color: lightblue;
  color: white;
}

#timeline {
  display: flex;
  flex-direction: column-reverse;
  background-color: lightblue;
  border: 5px solid;
  margin-left: 350px;
  padding: 20px;
  gap: 20px;
}

.post {
  background-color: orange;
  padding: 15px;
}